In [2]:
# General Python Imports
import math,time,random,datetime


# Data Manipulation Imports
import numpy as np
import pandas as pd

#Visualization Imports
import matplotlib.pyplot as plt
import missingno
import seaborn as sns
plt.style.use('seaborn-whitegrid')

#Pre-processing Imports
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize

#Machine learning Imports
from sklearn.model_selection import train_test_split
from sklearn import model_selection, tree, preprocessing, metrics, linear_model
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression, LogisticRegression, SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from catboost import CatBoostClassifier, Pool, cv

#Ignore warning for time being
import warnings
warnings.filterwarnings("ignore")

In [2]:
import sys
!{sys.executable} -m pip install catboost

Collecting catboost
  Downloading catboost-0.25.1-cp37-none-win_amd64.whl (66.9 MB)
Requirement already satisfied: numpy>=1.16.0 in c:\users\afshan\appdata\local\programs\python\python37\lib\site-packages (from catboost) (1.20.3)
Requirement already satisfied: scipy in c:\users\afshan\appdata\local\programs\python\python37\lib\site-packages (from catboost) (1.6.3)
Requirement already satisfied: matplotlib in c:\users\afshan\appdata\local\programs\python\python37\lib\site-packages (from catboost) (3.4.2)
Requirement already satisfied: pandas>=0.24.0 in c:\users\afshan\appdata\local\programs\python\python37\lib\site-packages (from catboost) (1.2.4)
Collecting graphviz
  Downloading graphviz-0.16-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: six in c:\users\afshan\appdata\local\programs\python\python37\lib\site-packages (from catboost) (1.16.0)
Collecting plotly
  Downloading plotly-4.14.3-py2.py3-none-any.whl (13.2 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\afshan\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\afshan\appdata\local\programs\python\python37\lib\site-packages (from pandas>=0.24.0->catboost) (2021.1)
Requirement already satisfied: cycler>=0.10 in c:\users\afshan\appdata\local\programs\python\python37\lib\site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\afshan\appdata\local\programs\python\python37\lib\site-packages (from matplotlib->catboost) (8.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\afshan\appdata\local\programs\python\python37\lib\site-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\afshan\appdata\local\programs\python\python37\lib\site-packages (from matplotlib->catboost) (1.3.1)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Building wheels for collected packages: retrying
  Building wheel for retrying (setup.py): started
  Building wheel for retrying (setup.py): finished with status 'done'
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11429 sha256=d000a8fe2fa56d5518127df418dd0e49551ea0d42fbc27bd8d1ae0d323cc4bf3
  Stored in directory: c:\users\afshan\appdata\local\pip\cache\wheels\f9\8d\8d\f6af3f7f9eea3553bc2fe6d53e4b287dad18b06a861ac56ddf
Successfully built retrying
Installing collected packages: retrying, plotly, graphviz, catboost
Successfully installed catboost-0.25.1 graphviz-0.16 plotly-4.14.3 retrying-1.3.3

In [12]:
#Loading input csv files.
train=pd.read_csv("datasets/train.csv")
test=pd.read_csv("datasets/test.csv")
submission=pd.read_csv("datasets/gender_submission.csv")
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [19]:
# My Approach towards this Machine Learning Problem
# Understand nature of the data .info() .describe()
#Light Data Exploration
  # Histograms and boxplots 
  # Value counts 
  # Missing data 
  # Correlation between the metrics 
# Explore interesting themes 
    # Wealthy survive? 
    # By location 
    # Age scatterplot with ticket price 
    # Young and wealthy Variable? 
    # Total spent? 
# Feature engineering 
# preprocess data together or use a transformer? 
    # use label for train and test   
# Scaling?

# Model Baseline 
# Model comparison with CV

In [16]:
# Gives info about datatypes and missing values.
train.info()   # train.dtypes will give only datatype info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [20]:
# To better understand the numeric data, we want to use the .describe() method. 
# This gives us an understanding of the central tendencies of the data 
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# creating two df's one for continuos features another for categorical features
# Be careful some categorical features will be numeric e.g Ordinal and Nominal

In [2]:
# My Approach towards a Machine Learning Probelm is first Understanding the Data received. 

# First get the data in pandas dataframe.
# Obtain Two data frames one for Continous Variables, Another for Categorical Variables.
# Descriptive Statistics => To explore the data.
   # Numerical Data
            #Univariate Analysis 
                #Central Tendency,Spread of Distribution, Graphs (Histogram,Bar Graph), Shape of Distribution(Gaussian, skewness ,kurtosis), Normality QQ Plots)
            #Multivariate Analysis 
                #Compare Means, Correlation Matrix, Pivot table comparing Dependent Variable across Numerical Independent Variables.
   # Categorical Data
            #Univariate Analysis
                #Summary measures(count values) to understand balance of classes in the form of frequency tables, bar charts, or pie charts.
            #Multivariate Analysis
                #Cross Tabulation, Pivot table comparing Dependent Variable across Categorical Independent Variables.

                
# Inferential Statistics => To analyse the data to gain some rudimentary inference
   # Numerical Data
            #Univariate Analysis 
                #Central Tendency,Spread of Distribution, Graphs (Histogram,Bar Graph), Shape of Distribution(Gaussian, skewness ,kurtosis), Normality QQ Plots)
            #Multivariate Analysis 
                #Compare Means, Correlation Matrix, Pivot table comparing Dependent Variable across Numerical Independent Variables.
   # Categorical Data
            #Univariate Analysis
                #Summary measures(count values) to understand balance of classes in the form of frequency tables, bar charts, or pie charts.
            #Multivariate Analysis
                #Pivot table comparing Dependent Variable across Categorical Independent Variables.